In [4]:
import pandas as pd
df = pd.read_csv('./done_data/new_house_merge.csv')
print(df.columns)
print(df.shape)
df.head(1)

Index(['鄉鎮市區', '土地移轉總坪數', '都市土地使用分區', '總樓層數', '主要用途', '主要建材', '建物移轉總坪數',
       '建物現況格局-房', '建物現況格局-廳', '建物現況格局-衛', '建物現況格局-隔間', '有無管理組織', '每坪單價',
       '車位類別', '車位移轉總坪數', '土地', '建物', '車位', '轉移樓層', '建物類型', 'Area',
       'EightCount', 'ParkCount', 'FuneralCount', 'GasCount', 'CrimeCount',
       'PoliceCount', 'busCount', 'subwayCount', 'govCount', 'clinicCount',
       'hospitalCount', 'pharmacyCount', 'fireareaCount', 'firewayCount',
       '土地面積', '總人口數', '男性人數', '女性人數', '人口密度', '每戶人數', '每戶成年人數', '所得收入總計',
       '可支配所得', '消費支出', '儲蓄', '所得總額'],
      dtype='object')
(5252, 47)

,鄉鎮市區,土地移轉總坪數,都市土地使用分區,總樓層數,主要用途,主要建材,建物移轉總坪數,建物現況格局-房,建物現況格局-廳,建物現況格局-衛,...,男性人數,女性人數,人口密度,每戶人數,每戶成年人數,所得收入總計,可支配所得,消費支出,儲蓄,所得總額
0,中正區,5.599275,住,13,住家用,混凝土造,46.001177,3,2,2,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842

In [5]:
# 移除無法線性化的特徵

df = df.drop(['Area','鄉鎮市區','都市土地使用分區','主要用途','主要建材','建物現況格局-隔間','有無管理組織','車位類別','建物類型'], axis = 1)

df.head()

,土地移轉總坪數,總樓層數,建物移轉總坪數,建物現況格局-房,建物現況格局-廳,建物現況格局-衛,每坪單價,車位移轉總坪數,土地,建物,...,男性人數,女性人數,人口密度,每戶人數,每戶成年人數,所得收入總計,可支配所得,消費支出,儲蓄,所得總額
0,5.599275,13,46.001177,3,2,2,9.726710e+05,7.447550,1,1,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842
1,4.652450,10,36.191101,1,1,1,1.040879e+06,13.421926,1,1,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842
2,5.154600,10,38.656476,1,1,1,9.332429e+05,13.421926,1,1,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842
3,5.112250,10,25.234551,1,1,1,9.479074e+05,0.000000,1,1,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842
4,5.154600,10,38.656476,1,1,1,9.729884e+05,13.424951,1,1,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842

In [7]:
# 將x,y拆開
y_df = df['每坪單價']
x_df = df.drop(['每坪單價'], axis = 1)
x_df.head()

,土地移轉總坪數,總樓層數,建物移轉總坪數,建物現況格局-房,建物現況格局-廳,建物現況格局-衛,車位移轉總坪數,土地,建物,車位,...,男性人數,女性人數,人口密度,每戶人數,每戶成年人數,所得收入總計,可支配所得,消費支出,儲蓄,所得總額
0,5.599275,13,46.001177,3,2,2,7.447550,1,1,1,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842
1,4.652450,10,36.191101,1,1,1,13.421926,1,1,1,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842
2,5.154600,10,38.656476,1,1,1,13.421926,1,1,1,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842
3,5.112250,10,25.234551,1,1,1,0.000000,1,1,0,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842
4,5.154600,10,38.656476,1,1,1,13.424951,1,1,1,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842

In [8]:
# 透過皮爾森分析確認各變數彼此相關大於0.9的變數
x_corr_df = x_df.corr('pearson')
x_corr_df = x_corr_df[(x_corr_df > 0.9) & (x_corr_df != 1.0)]
x_corr_df = x_corr_df.dropna(axis=1, how='all')
x_corr_df = x_corr_df.dropna(axis=0, how='all')
x_corr_df

,EightCount,FuneralCount,busCount,土地面積,總人口數,男性人數,女性人數,每戶人數,每戶成年人數,所得收入總計,可支配所得,消費支出,所得總額
EightCount,NaN,0.922541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FuneralCount,0.922541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
busCount,NaN,NaN,NaN,0.931076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
土地面積,NaN,NaN,0.931076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
總人口數,NaN,NaN,NaN,NaN,NaN,0.997988,0.998441,NaN,NaN,NaN,NaN,NaN,NaN
男性人數,NaN,NaN,NaN,NaN,0.997988,NaN,0.992893,NaN,NaN,NaN,NaN,NaN,NaN
女性人數,NaN,NaN,NaN,NaN,0.998441,0.992893,NaN,NaN,NaN,NaN,NaN,NaN,NaN
每戶人數,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.956491,NaN,NaN,NaN,NaN
每戶成年人數,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.956491,NaN,NaN,NaN,NaN,NaN
所得收入總計,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.964533,NaN,0.993272
可支配所得,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.964533,NaN,NaN,0.950186
消費支出,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.925231
所得總額,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.993272,0.950186,0.925231,NaN

In [9]:
# 總人口數與男性人數、女性人數高度相關，故僅移除男性人數、女性人數
# 每戶人數與每戶成年人數高度相關，移除每戶成年人數
# 所得收入總計、消費支出、所得總額高度相關，所以移除所得收入總計、消費支出
# busCount、高度相關，移除busCount
# EightCount、FuneralCount高度相關，移除EightCount

x_df = x_df.drop(['男性人數','女性人數','每戶成年人數','所得收入總計','可支配所得','消費支出','busCount','EightCount'], axis = 1)
print(len(x_df.columns))
x_df.head()

29

,土地移轉總坪數,總樓層數,建物移轉總坪數,建物現況格局-房,建物現況格局-廳,建物現況格局-衛,車位移轉總坪數,土地,建物,車位,...,hospitalCount,pharmacyCount,fireareaCount,firewayCount,土地面積,總人口數,人口密度,每戶人數,儲蓄,所得總額
0,5.599275,13,46.001177,3,2,2,7.447550,1,1,1,...,3,64,41,38,7.6071,155508,20442,2.83,278646,1894842
1,4.652450,10,36.191101,1,1,1,13.421926,1,1,1,...,3,64,41,38,7.6071,155508,20442,2.83,278646,1894842
2,5.154600,10,38.656476,1,1,1,13.421926,1,1,1,...,3,64,41,38,7.6071,155508,20442,2.83,278646,1894842
3,5.112250,10,25.234551,1,1,1,0.000000,1,1,0,...,3,64,41,38,7.6071,155508,20442,2.83,278646,1894842
4,5.154600,10,38.656476,1,1,1,13.424951,1,1,1,...,3,64,41,38,7.6071,155508,20442,2.83,278646,1894842

In [10]:
# 利用方差先找出沒有差距的特徵，發現建物並沒有足夠變異
# 0.25是以某個值不超過0.5計算，0.5X0.5=0.25
# 移除了
from sklearn.feature_selection import VarianceThreshold
selector = VarianceThreshold(threshold = 0.25)
selector.fit_transform(x_df)
cols = selector.get_support(indices=True)

features_df_new = x_df.iloc[:,cols].columns
new_feature_list = features_df_new.tolist()
old_feature_list = x_df.columns.tolist()

lost_element = [x for x in old_feature_list if x not in new_feature_list]
print(new_feature_list)
print(lost_element)

['土地移轉總坪數', '總樓層數', '建物移轉總坪數', '建物現況格局-房', '建物現況格局-廳', '建物現況格局-衛', '車位移轉總坪數', '土地', '車位', '轉移樓層', 'ParkCount', 'FuneralCount', 'GasCount', 'CrimeCount', 'PoliceCount', 'subwayCount', 'govCount', 'clinicCount', 'hospitalCount', 'pharmacyCount', 'fireareaCount', 'firewayCount', '土地面積', '總人口數', '人口密度', '儲蓄', '所得總額']
['建物', '每戶人數']

In [11]:
# 只選擇有足夠變異的變數
x_df = x_df[new_feature_list]
x_df.head()

,土地移轉總坪數,總樓層數,建物移轉總坪數,建物現況格局-房,建物現況格局-廳,建物現況格局-衛,車位移轉總坪數,土地,車位,轉移樓層,...,clinicCount,hospitalCount,pharmacyCount,fireareaCount,firewayCount,土地面積,總人口數,人口密度,儲蓄,所得總額
0,5.599275,13,46.001177,3,2,2,7.447550,1,1,10,...,290,3,64,41,38,7.6071,155508,20442,278646,1894842
1,4.652450,10,36.191101,1,1,1,13.421926,1,1,2,...,290,3,64,41,38,7.6071,155508,20442,278646,1894842
2,5.154600,10,38.656476,1,1,1,13.421926,1,1,3,...,290,3,64,41,38,7.6071,155508,20442,278646,1894842
3,5.112250,10,25.234551,1,1,1,0.000000,1,0,4,...,290,3,64,41,38,7.6071,155508,20442,278646,1894842
4,5.154600,10,38.656476,1,1,1,13.424951,1,1,5,...,290,3,64,41,38,7.6071,155508,20442,278646,1894842

In [12]:
# 利用Kbest中的相關係數找出比較有代表性的10個特徵
# https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectKBest.html#sklearn.feature_selection.SelectKBest
from sklearn.feature_selection import SelectKBest, f_regression

selector_k = SelectKBest(f_regression,k = 'all')
selector_k_fit = selector_k.fit(x_df, y_df)
selector_k.transform(x_df) # not needed to get the score

cols_k = selector_k.get_support(indices=True)
socre_k_list = selector_k_fit.scores_.tolist()
features_df_k = x_df.iloc[:,cols_k.tolist()].columns
k_feature_list = features_df_k.tolist()

# python3的zip只會出zip檔，要出list()才能顯示
# 把得分表弄成dataFrame
feature_scores = zip(k_feature_list,socre_k_list)
feature_scores_df = pd.DataFrame(list(feature_scores),columns=['features', 'scores'])
feature_scores_df.head()

   features      scores
0   土地移轉總坪數    0.348012
1      總樓層數   95.601128
2   建物移轉總坪數  973.223472
3  建物現況格局-房    1.329495
4  建物現況格局-廳    0.774845

In [13]:
# 確認各個特徵的得分狀況，建議從得分200進行切割
feature_scores_df = feature_scores_df.sort_values(by=['scores'], ascending=False)
feature_scores_df.head(15)

         features       scores
17    clinicCount  2379.264621
11   FuneralCount  1488.313673
24           人口密度  1220.935591
26           所得總額  1111.190532
2         建物移轉總坪數   973.223472
22           土地面積   872.238010
20  fireareaCount   843.921587
19  pharmacyCount   636.986324
8              車位   491.607439
6         車位移轉總坪數   383.475769
25             儲蓄   187.929741
15    subwayCount   181.672065
13     CrimeCount   157.496663
9            轉移樓層   146.301300
21   firewayCount   125.942468

In [14]:
feature_scores_df = feature_scores_df[feature_scores_df['scores'] > 200]
feature_reg = feature_scores_df['features'].tolist()
x_df = x_df[feature_reg]
print(x_df.shape,y_df.shape)
x_df.head()

(5252, 10) (5252,)

,clinicCount,FuneralCount,人口密度,所得總額,建物移轉總坪數,土地面積,fireareaCount,pharmacyCount,車位,車位移轉總坪數
0,290,33,20442,1894842,46.001177,7.6071,41,64,1,7.447550
1,290,33,20442,1894842,36.191101,7.6071,41,64,1,13.421926
2,290,33,20442,1894842,38.656476,7.6071,41,64,1,13.421926
3,290,33,20442,1894842,25.234551,7.6071,41,64,0,0.000000
4,290,33,20442,1894842,38.656476,7.6071,41,64,1,13.424951

根據老師建議，先對資料進行切割，再將X做標準化來預測Y

In [15]:
# 資料區分訓練集、測試集
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_df, y_df, random_state=0)

In [16]:
# 先使用z-score來進行正規化
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_train_scaled = pd.DataFrame(X_train_scaled, columns = X_train.columns)
X_test_scaled = scaler.transform(X_test)
X_test_scaled = pd.DataFrame(X_test_scaled, columns = X_test.columns)
X_train_scaled.head()

,clinicCount,FuneralCount,人口密度,所得總額,建物移轉總坪數,土地面積,fireareaCount,pharmacyCount,車位,車位移轉總坪數
0,0.004426,-0.176246,0.846999,1.195303,0.530257,-0.839068,1.631106,0.529374,1.278820,1.155614
1,-0.224128,-0.718882,-0.559211,0.471239,-0.020064,0.214601,0.658752,-0.369628,-0.039492,0.316860
2,-0.224128,-0.718882,-0.559211,0.471239,-0.729285,0.214601,0.658752,-0.369628,-0.039492,-0.621621
3,-0.538388,-0.560613,-1.179755,-0.313834,0.055062,1.520264,-1.130379,0.049907,-0.039492,0.440031
4,3.244169,1.451660,1.857921,2.455271,-0.483592,-0.831118,-0.235814,1.368443,-0.039492,0.120206